Django==1.11.3
django-toolbelt==0.0.1
dj-database-url==0.4.2
dj-static==0.0.6
gunicorn==19.7.1
olefile==0.44
Pillow==4.2.1
pip==9.0.1
psycopg2==2.7.3
pytz==2017.2
setuptools==28.8.0
static3==0.7.0
virtualenv==15.1.0
whitenoise==3.3.0
